<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ml-5" href="{% url "posts:list" %}">Hipogram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-5" id="navbarNav">
    {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url "users:logout" %}">Log out</a>
          </div>
        </li>
      </ul>
    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url "users:login" %}" class="btn btn-outline-light">Log in</a>
        <a href="{% url "users:signup" %}" class="btn btn-light ml-2">Sign up</a>
      </form>
    {% endif %}
  </div>
</nav>
